.goods-item-container {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid lightgrey;
  
  .goods-item {
    display: flex;
  
    .goods-img {
      display: flex;
      margin-right: 10px;
  
      image {
        width: 250px;
        height: 250px;
        vertical-align: bottom;
      }
    }
  
    .goods-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .goods-name {
        font-size: 30px
      }
      
      view {
        display: flex;
        justify-content: space-between;
        
        .goods-price {
          font-size: 40px;
          color: #AA0000;
        }
      }
    }
  }
}