.my {
    padding: 300px 20px;

    .form {
        .submitBtn {
            margin: 40px 0;
        }
    }

    .tip {
        color: lightgrey;
        font-size: 30px;
        text-align: center;
    }
}